<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <div id="mainDiv">
        <p>Name: {{nounData.name}}</p>
        <p>Height: {{nounData.height}}</p>
        <p>Mass: {{nounData.mass}}</p>
    </div>
    {{>footer}}
</body>
