<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <div id="mainDiv">
        <p>Name: {{nounData.name}}</p>
        <p>Diameter: {{nounData.diameter}}</p>
        <p>Climate: {{nounData.climate}}</p>
    </div>
    {{>footer}}
</body>
